.h1-client {
  color: #0000000a;
  font-family: "Open Sans", Sans-serif;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

.h1-our-client {
  color: #0066ff;
  font-family: "Open Sans", Sans-serif;
  font-size: 56px;
  font-weight: 500; 
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: -40px;
}

.button-client-container button {
  color: #000000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight:lighter;
  letter-spacing: 0.5px;
  padding: 10px 15px;
}

.button-client-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  
}

.client-img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}

.client-img-container img {
  width: 100%;
  max-width: 260px;
  height: auto;
  transition: transform 0.3s;
  cursor: pointer;
}

.client-img-container img:hover {
  transform: scale(1.05);
}

.category-item {
  display: inline-block;

}

.category-item button {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.category-item button:hover {
  background-color:  #0066FF;
  color: white;
}

.category-item-selected button {
  background-color:  #0066FF;
  color: white;
  font-weight: lighter;
}

@media (max-width: 1200px) {
  .client-img-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .h1-our-client {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .client-img-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .h1-our-client {
    font-size: 44px;
  }
}

@media (max-width: 768px) {
  .client-img-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .client-img-container img {
    max-width: 100%;
  }

  .h1-client {
    font-size: 35px;
    margin-top: -30px;
  }

  .h1-our-client {
    font-size: 38px;
  }

  .button-client-container button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 576px) {
  .client-img-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .h1-client {
    font-size: 30px;
    margin-top: -20px;
  }

  .h1-our-client {
    font-size: 32px;
  }

  .button-client-container button {
    font-size: 13px;
    padding: 6px 12px;
  }
}

@media (max-width: 400px) {
  .h1-client {
    font-size: 25px;
    margin-top: -10px;
  }

  .h1-our-client {
    font-size: 28px;
  }

  .button-client-container button {
    font-size: 12px;
    padding: 5px 10px;
  }

  .client-img-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
