/* Default styles */
.collar-card-container {
    margin-top: 30px;
}

.collar-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.collar-card-img img {
    max-width: 100%;
    height: auto;
}

.phone-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.phone-card ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0;
    margin-top: 20px;
cursor: pointer;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.menu-list li {
    margin-bottom: 10px;
cursor: pointer;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .menu-list {
        gap: 40px;
        cursor: pointer;
      
    }
}
@media (max-width: 932px) {
    .menu-list {
        gap: 12px;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
 
      
    }
  
}
