.h1-get {
    color: #0000000A;
    font-family: "Open Sans", Sans-serif;
    font-size: 59px;
    font-weight: bold;
    text-align: center;
}

.h1-contact {
    color: #0066FF;
    font-family: "Open Sans", Sans-serif;
    font-size: 56px;
    font-weight: lighter;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: -50px;
}

.num {
    font-weight: bold;
}

.contact-us p {
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 820px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

.input-container input,
.input-container textarea {
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
    border: 1px solid #dcd7ca;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
}

.input-container button {
    width: 100%;
    max-width: 600px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .h1-get {
        font-size: 48px;
    }

    .h1-contact {
        font-size: 46px;
        margin-top: -40px;
    }

    .input-container {
        padding: 15px;
    }

    .input-container input,
    .input-container textarea,
    .input-container button {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .h1-get {
        font-size: 38px;
    }

    .h1-contact {
        font-size: 36px;
        margin-top: -30px;
    }

    .input-container {
        padding: 10px;
    }

    .input-container input,
    .input-container textarea,
    .input-container button {
        max-width: 100%;
    }
}

@media (max-width: 400px) {
    .h1-get {
        font-size: 28px;
    }

    .h1-contact {
        font-size: 26px;
        margin-top: -20px;
    }

    .input-container {
        padding: 5px;
    }

    .input-container input,
    .input-container textarea,
    .input-container button {
        max-width: 100%;
    }
}
