.h1-trademark {
  color: #0000000A;
  font-family: "Open Sans", sans-serif;
  font-size: 69px; 
  font-weight: 600;
  text-align: start;
}

.h1-patent {
  color: #0066FF;
  font-family: "Open Sans", sans-serif;
  font-size: 55px; 
  font-weight:600;
  letter-spacing: 0.5px;
  text-align: start;
  margin-top: -35px;
}

@media (max-width: 767px) {
  .h1-trademark {
    font-size: 18px; 
    font-weight: 600;
  }

  .h1-patent {
    font-size: 30px; 
    margin-top: -25px; 
  }
  
}

@media (min-width: 768px) and (max-width: 1199px) {
  .h1-trademark {
    font-size: 30px; 
  }

  .h1-patent {
    font-size: 41px; 
    margin-top: -25px; 
  }

}

@media (min-width: 1200px) {
  .h1-trademark {
    font-size: 42px; 
  }

  .h1-patent {
    font-size: 55px; 
    margin-top: -35px; 
  }
}
