.h1-trademark {
  color: #0000000A;
  font-family: "Open Sans", Sans-serif;
  font-weight: 600;
  text-align: start;
  font-size: 32px; 
}

.h1-patent {
  color: #0066FF;
  font-family: "Open Sans", Sans-serif;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  text-align: start;
  margin-top: -20px; 
}

@media (min-width: 768px) {
  .h1-trademark {
    font-size: 42px; 
  }

  .h1-patent {
    font-size: 55px;
    margin-top: -35px; 
  }
}
