.h1-collar {
  color: #0000000a;
  font-family: "Open Sans", sans-serif;
  font-size: 69px;
  font-weight: bold;

}

.h2-collar {
  color: #0066ff;
  font-family: "Open Sans", sans-serif;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 0.5px;
 
  margin-top: -50px;
}

.collar-card-p {
  text-align: center;
  color: #000000;
  font-family: "Work Sans", sans-serif;
  width: 50%;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 1px;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
}

.collar-card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.btn {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  background-color: transparent;
  background-image: linear-gradient(110deg, #0066ff 5%, #1d92c2 100%);
  border-radius: 5px;
  padding: 10px 25px;
  color: #fff;
  fill: #fff;
}

.arrow {
  text-align: center;
  margin-top: 22px;
  cursor: pointer;
  padding: 5px;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.arrow:hover {
  transform: scale(1.2) translateY(-5px);
}

@media (max-width: 1200px) {
  .h1-collar {
    font-size: 48px;
  }

  .h2-collar {
    font-size: 46px;
    margin-top: -40px;
  }

  .collar-card-p {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }

  .btn {
    font-size: 16px;
    padding: 8px 20px;
  }
}

@media (max-width: 992px) {
  .h1-collar {
    font-size: 40px;
  }

  .h2-collar {
    font-size: 38px;
    margin-top: -35px;
  }

  .collar-card-p {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
  }

  .btn {
    font-size: 14px;
    padding: 6px 18px;
  }
}

@media (max-width: 768px) {
  .h1-collar {
    font-size: 38px;
    margin-top: 10px;
 
  }

  .h2-collar {
    font-size: 30px;
    margin-top: -28px;
    
  }

  .collar-card-p {
    font-size: 12px;
    line-height: 20px;
    width: 100%;
margin-left: 10px;
  }

  .btn {
    font-size: 12px;
    padding: 4px 16px;
  }
}

@media (max-width: 390px) {
  .h1-collar {
    font-size: 18px; 
    font-weight: 600;
  }

  .h2-collar {
    font-size: 16px; 
    margin-top: -20px; 
  }

  .collar-card-p {
    font-size: 12px; 
    line-height: 18px; 
    width: 100%;
  }

  .btn {
    font-size: 12px; 
    padding: 4px 12px; 
  }
}
