.footer-container {
    width: 100%;
    height: auto;
    background-color: #0e5bcf;
    padding: 20px 0;
}

.footer-container p {
    color: #FFFFFF;
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: center;
}


@media (max-width: 768px) {
    .footer-container p {
        font-size: 13px;
        line-height: 20px;
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    .footer-container p {
        font-size: 12px;
        line-height: 18px;
        padding: 0 5px;
    }
}

@media (max-width: 400px) {
    .footer-container p {
        font-size: 11px;
        line-height: 16px;
        padding: 0 5px;
    }
}
