.video-bar {
  width: 100vw; /* Use viewport width */
  height: auto;
  
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 60px;
  overflow-x: hidden; /* Prevent overflow on x-axis */
}

@media only screen and (max-width: 600px) {
  .video-bar {
    width: 100vw; /* Full width on small screens */
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .video-bar {
    width: 80vw; /* Adjust width for medium screens */
  }
}

@media only screen and (min-width: 901px) {
  .video-bar {
    width: 70vw; /* Adjust width for large screens */
  }
}
